# --- SECURE WORKSPACE CONFIGS & PRIVATE DATA ---

# Exclude persistent agent configs, caches, and ML environments
persistent/*
!persistent/.gitkeep

# Exclude heavy audio datasets and large binary archives
data/*
# Ignore all actual folder contents
config-file/credentials/*
config-file/agentmemory/.env


# Allow tracking the empty directory structures of config-file and its subfolders
!config-file/
!config-file/agentmemory/
!config-file/credentials/
!config-file/hermes/
!config-file/system-config/

# Unignore the .gitkeep files so git tracks the empty shell directories
!config-file/.gitkeep
!config-file/agentmemory/.gitkeep
!config-file/credentials/.gitkeep
!config-file/hermes/.gitkeep
!config-file/system-config/.gitkeep

# Allow tracking the empty directory structures of sandbox-data and its subfolders
!sandbox-data/
!sandbox-data/my-data/
!sandbox-data/outputs/
!sandbox-data/working-space/

# Ignore all actual folder contents
sandbox-data/*
sandbox-data/my-data/*
sandbox-data/outputs/*
sandbox-data/working-space/*

# Unignore the .gitkeep files so git tracks the empty shell directories
!sandbox-data/.gitkeep
!sandbox-data/my-data/.gitkeep
!sandbox-data/outputs/.gitkeep
!sandbox-data/working-space/.gitkeep


# --- GENERAL EXCLUSIONS ---
.uv-cache/
.streamlit/
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
.DS_Store
.env

.antigravitycli/
.codegraph/